ion-grid {
    padding: 0;
    margin: 0;
}

ion-card{
    height: 100%;
}

ion-row {
    --background-color-odd-row-grid: rgb(233, 233, 233);
    --border-row-grid: 1px solid rgb(208, 208, 208);
    .ion-row-grid:nth-child(odd){
        background-color: var(--background-color-odd-row-grid);
        ion-col {
            border: var(--border-row-grid)   
        }
    }
    .ion-header-grid {
        background-color: var(--background-color-odd-row-grid);
        color: black;
        font-weight: bold;
        ion-col {
            border: var(--border-row-grid)   
        }
    }
    .ion-row-grid:nth-child(even){
        ion-col {
            border: var(--border-row-grid)   
        }
    }
}
ion-button {
    button {
        padding: 5px;
    }
}