ion-grid.custom {
    padding: 0;
    margin: 0;
    --background-color-odd-row-grid: rgb(233, 233, 233);
    --border-row-grid: 1px solid rgb(208, 208, 208);

    ion-row {
        .ion-row-grid:nth-child(odd){
            background-color: var(--background-color-odd-row-grid);
        }
        .ion-header-grid {
            background-color: var(--background-color-odd-row-grid);
            color: black;
            font-weight: bold;
            ion-col {
                border: var(--border-row-grid)   
            }
        }
    }
}


ion-card{
    height: 100%;
}
ion-col {
    border: var(--border-row-grid);
}
ion-row:nth-child(odd){
    ion-col{
        background-color: #ebebeb;
        ion-input, ion-select{
            background-color: white;
            border: var(--border-row-grid);
        }
    }
}
