<ion-content>
  <ion-grid fixed >
    <ion-row>
      <ion-col size="6">
        <app-multiple-winners></app-multiple-winners>
      </ion-col>
      <ion-col size="6">
        <app-top-winners></app-top-winners>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <app-win-interval-producer></app-win-interval-producer>
      </ion-col>
      <ion-col size="6">
        <app-movies-by-year></app-movies-by-year>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
